// Custom.scss

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap-5.1.3/scss/functions";

// 2. Include any default variable overrides here
$body-color:            $dark; // $gray-900 !default;
$font-size-base:        1.125rem; // 1rem = 16px
$font-size-sm:          1rem;     // $font-size-base * .875;
$font-size-lg:          1.111111111 * $font-size-base; // * 1.25;

$link-hover-color:      $dark;
$border-color:          $secondary;

// $line-height-base:   1.5 !default;
// $line-height-sm:        1.6875;
// $line-height-lg:        1.35;

$spacer: $font-size-base * 1.5;
$paragraph-margin-bottom: $spacer;

// $navbar-light-color:                $dark; // rgba($black, .55) !default;
// $navbar-light-hover-color:          $primary; // rgba($black, .7) !default;
// $navbar-light-active-color:         $dark; // rgba($black, .9) !default;
// $navbar-light-toggler-border-color: white; //rgba($black, .1) !default;

// $nav-link-padding-x:                3rem ;
$nav-link-font-size: $font-size-lg;


// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap-5.1.3/scss/variables";


$display-font-sizes: map-remove($display-font-sizes,
  1, 2, 3, 4, 5
);

$table-variants: map-remove( $table-variants,
  "success",
  "info",
  "warning",
  "danger"
);

$theme-colors: map-merge($theme-colors, (
        "medium": $medium
    )
);

$grid-breakpoints: map-remove($grid-breakpoints,
    xxl
);

$container-max-widths: map-remove($container-max-widths,
    xxl
);

$border-widths: map-remove($border-widths,
  2,
  3,
  4,
  5
);

$display-font-sizes: map-remove($display-font-sizes,
  1,
  2,
  3,
  4,
  5
);

$table-variants: map-remove( $table-variants,
  "success",
  "info",
  "warning",
  "danger"
);

$aspect-ratios: map-merge($aspect-ratios, (
        "47x20": calc(20 / 47 * 100%)
    )
);

@import "bootstrap-5.1.3/scss/mixins";
@import "bootstrap-5.1.3/scss/root";
@import "bootstrap-5.1.3/scss/utilities";

// 4. Include any default variable overrides here

// Utilities

$utilities: map-remove($utilities,
    "align",
/* "float",*/
    "opacity",
    "overflow",
 /* "display",*/
    "shadow",
    "position",
    "top",
    "bottom",
    "start",
    "end",
    "translate-middle",
    "border",
    "border-top",
    "border-end",
    "border-bottom",
    "border-start",
    "border-color",
    "border-width",
    "width",
    "max-width",
    "viewport-width",
    "min-viewport-width",
    "height",
    "max-height",
    "viewport-height",
    "min-viewport-height",
/*    "flex",
    "flex-direction",
    "flex-grow",
    "flex-shrink",
    "flex-wrap",*/
    "gap",
/*    "justify-content", */
    "align-items",
    "align-content",
    "align-self",
    "order",
    "margin",
    "margin-x",
    "margin-y",
    "margin-top",
    "margin-end",
    "margin-bottom",
    "margin-start",
    "negative-margin",
    "negative-margin-x",
    "negative-margin-y",
    "negative-margin-top",
    "negative-margin-end",
    "negative-margin-bottom",
    "negative-margin-start",
    "padding",
    "padding-x",
    "padding-y",
    "padding-top",
    "padding-end",
    "padding-bottom",
    "padding-start",
    "font-family",
    "font-size",
    "font-style",
    "font-weight",
    "line-height",
/*  "text-align",*/
    "text-decoration",
    "text-transform",
    "white-space",
    "word-wrap",
    "color",
    "text-opacity",
    "background-color",
    "bg-opacity",
    "gradient",
    "user-select",
    "pointer-events",
    "rounded",
    "rounded-top",
    "rounded-end",
    "rounded-bottom",
    "rounded-start",
    "visibility"
);

// 5. Include any optional Bootstrap CSS as needed
@import "bootstrap-5.1.3/scss/reboot";
// @import "bootstrap-5.1.3/scss/type";  // .hx, blockquote, lead, ...
@import "bootstrap-5.1.3/scss/images";   // img-fluid, figure, figcaption
@import "bootstrap-5.1.3/scss/containers";
@import "bootstrap-5.1.3/scss/grid"; // enabled / Disables through $enable-grid-classes
@import "bootstrap-5.1.3/scss/tables";
@import "bootstrap-5.1.3/scss/forms";
// @import "bootstrap-5.1.3/scss/forms/floating-labels";
// @import "bootstrap-5.1.3/scss/forms/form-check";
@import "bootstrap-5.1.3/scss/forms/form-control";
// @import "bootstrap-5.1.3/scss/forms/form-range";
// @import "bootstrap-5.1.3/scss/forms/form-select";
@import "bootstrap-5.1.3/scss/forms/form-text";
@import "bootstrap-5.1.3/scss/forms/input-group";
@import "bootstrap-5.1.3/scss/forms/labels";
// @import "bootstrap-5.1.3/scss/forms/validation";
@import "bootstrap-5.1.3/scss/buttons";
@import "bootstrap-5.1.3/scss/transitions";
// @import "bootstrap-5.1.3/scss/dropdown";
// @import "bootstrap-5.1.3/scss/button-group";
@import "bootstrap-5.1.3/scss/nav";
@import "bootstrap-5.1.3/scss/navbar";
// @import "bootstrap-5.1.3/scss/card";
// @import "bootstrap-5.1.3/scss/accordion";
@import "bootstrap-5.1.3/scss/breadcrumb";
@import "bootstrap-5.1.3/scss/pagination";
// @import "bootstrap-5.1.3/scss/badge";
// @import "bootstrap-5.1.3/scss/alert";
// @import "bootstrap-5.1.3/scss/progress";
// @import "bootstrap-5.1.3/scss/list-group";
// @import "bootstrap-5.1.3/scss/close";
// @import "bootstrap-5.1.3/scss/toasts";
// @import "bootstrap-5.1.3/scss/modal";
// @import "bootstrap-5.1.3/scss/tooltip";
// @import "bootstrap-5.1.3/scss/popover";
// @import "bootstrap-5.1.3/scss/carousel";
// @import "bootstrap-5.1.3/scss/spinners";
// @import "bootstrap-5.1.3/scss/offcanvas";
// @import "bootstrap-5.1.3/scss/placeholders";

// Helpers
// @import "bootstrap-5.1.3/scss/helpers";
// @import "bootstrap-5.1.3/scss/helpers/clearfix";
// @import "bootstrap-5.1.3/scss/helpers/colored-links";
// @import "bootstrap-5.1.3/scss/helpers/position";
@import "bootstrap-5.1.3/scss/helpers/ratio";
// @import "bootstrap-5.1.3/scss/helpers/stacks";
// @import "bootstrap-5.1.3/scss/helpers/stretched-link";
// @import "bootstrap-5.1.3/scss/helpers/text-truncation";
@import "bootstrap-5.1.3/scss/helpers/visually-hidden";
// @import "bootstrap-5.1.3/scss/helpers/vr";

@import "bootstrap-5.1.3/scss/utilities/api";

// 6. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
// @import "../node_modules/bootstrap/scss/utilities/api";

// 7. Add additional custom code here