@use "sass:map";


$imperial-red : #e63946;
$honeydew     : #f1faee;
$powder-blue  : #f3f7ff; // #a8dadcff;
$celadon-blue : #457b9d;
$prussian-blue: #1d3557;

$primary:       $imperial-red;
$secondary:     $powder-blue;
$light:         $powder-blue;  /* $honeydew;*/
$medium:        $celadon-blue;
$dark:          $prussian-blue;

// Boostrap customization
@import "custom-5.2.0";

// Set of icons
@import "bootstrap-icons-1.8.3/bootstrap-icons";

// Code highlight
@import "monokai";

// Lightbox
@import "simple-lightbox-2.10.3/simple-lightbox.scss";


/* -------------------------------------------------
   --- General                                  ---
   ------------------------------------------------- */
img {
    border-radius: 0.5em;
}

// --- limited width ----------------------------
@media (min-width: map-get($grid-breakpoints, "md")) {
    .limit-width {
        width: 960px!important;
    }
}

h1 {
    font-size: 2.5 * $font-size-base;
    line-height: 1.2;
    margin: 0;
}

h2 {
    font-size: 2 * $font-size-base;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0.75em;

    color: $primary;
}

h3 {
    font-size: 1.5 * $font-size-base;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 1em;

    color: $dark;
}

h4 {
    font-size: 1.2222 * $font-size-base;
    line-height: 1.2273;
    margin-top: 0;
    margin-bottom: 1.2273em;
}

h2 a, h3 a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h3 a {
    color: $dark;
}

/* -------------------------------------------------
   --- Header                                    ---
   ------------------------------------------------- */

#page-header {
    background-color: white;
}

.search-form {
    width: 50%;
    position: relative;
}

.search-form i {
    --bs-text-opacity: 1;
    color     : #6c757d!important;
    transform : translateY(-50%)!important;
    position  : absolute!important;
    right     : 1em!important;
    top       : 50%!important;
}


/* -------------------------------------------------
   --- Headline                                  ---
   ------------------------------------------------- */

#page-headline {
    background-color: $secondary;

    padding-top: $spacer;
    padding-bottom: $spacer;
    margin-bottom: 2 * $spacer;

    h1 {
        a { margin-left: 1em; }
    }
}


/* -------------------------------------------------
   --- Homepage                                  ---
   ------------------------------------------------- */

// ---- Posts list -------------------------
.page-item-left {
    text-align: left;
}

.page-item-center {
    text-align: center;
}

.page-item-right {
    text-align: right;
}


/* -------------------------------------------------
   --- Lists                                     ---
   ------------------------------------------------- */

.post-format-meta-left {
    .post-meta {
        text-align: right;
    }

    h2 {
        margin-bottom: 0.25rem;
    }
}

.post-summary {
    text-align: justify
}


.post-list {
    .post {
        margin-bottom: 4 * $spacer;
    }

}

.page-bottomline-pagination {
    margin-bottom: 3 * $spacer;
}

.serie-posts {
    font-size: 1rem;
}

/* -------------------------------------------------
   --- Single                                    ---
   ------------------------------------------------- */

.single-post-summary,
.single-post-content {
    text-align: justify;
}

.single-post-content {

    h2, h3, h4 {
        margin-bottom: $spacer;
    }

    h2 {
        margin-top: 2 * $spacer;
    }

    h3 {
        margin-top: 1.5 * $spacer;
    }

    h4 {
        margin-top: 1 * $spacer;
    }
}

.single-page-image,
.single-post-image,
.page-bottomline-prev-next,
.single-post-content {
    margin-bottom: 3 * $spacer;
}

.single-post-meta {
    margin-bottom: 2 * $spacer;
}

/* -------------------------------------------------
   --- Pagination pre / next                     ---
   ------------------------------------------------- */
.page-bottomline-prev-next {
    ul {
        list-style-type: none;
    }

    a {
        display: block;
        padding: 0.5rem 1rem;
    }

    a:hover {
        border-radius: 0.25rem;
        background-color: $light;
    }
}


/* -------------------------------------------------
   --- Post Meta                                 ---
   ------------------------------------------------- */

.post-meta {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 1rem;
}


/* -------------------------------------------------
   --- Widgets                                   ---
   ------------------------------------------------- */

.widget {
    margin-bottom: 2 * $spacer;

    .col {
        margin-bottom: 2 * $spacer;
    }

    a + h3 {
        margin-top: 0.5 * $spacer;
    }

    h3 {
        margin-bottom: 0.5 * $spacer;
    }
}


.single-page .widget h3 {
    margin-bottom: 1 * $spacer;
}

.widget-content {
    margin-bottom: 0.5 * $spacer;
}

// ---- widget-author-----------------------
.author-picture {
    float: left;
}

.page-bottomline-authors {
    padding-top: 2 * $spacer;
    background-color: $secondary;
    margin-bottom: 3 * $spacer;
}

.author-socials {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
        display: inline;
        margin-right: 1.5 * $spacer;

        &:last-child {
            margin-right: 0;
        }
    }

    i {
        font-size: 1.5rem;
    }
}

.author-posts-list {
    margin-top: 2 * $spacer;
}

.author-full-posts-list {

    margin-bottom: 3 * $spacer;

    a {
        color: $dark;
        text-decoration: none;
    }

    a:hover {
        color: $primary;
        text-decoration: underline;
    }
}

// ---- widget-page ------------------------
.widget-page {
    text-align: justify;
}

// ---- widget-follow ----------------------
.widget-follow-horizontal {
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    li {
        display: inline;
        margin-left: 1 * $spacer;
    }

    i {
        font-size: 1.2 * $font-size-base;
    }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    .widget-follow-horizontal {
        li {
            margin-left: 1.5 * $spacer;
        }
    }
}

// ---- widget-share-links ------------------

.widget-share-links {

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    li {
        display: inline;
        margin-right: 1.5 * $spacer;
    }

    li:last-child {
        margin-right: 0;
    }

    i {
        font-size: 1.75rem;
    }
}

// ---- widget-tags-cloud ------------------

.widget-tags-cloud {
    margin-bottom: 3 * $spacer;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    li {
        display: inline;
    }

    a {
        color: $dark;
        text-decoration: none;
    }
}

/* -------------------------------------------------
   --- Typo                                   ---
   ------------------------------------------------- */

ol > li p {
    margin-bottom: 0;
}

ol, ul, dl {
  margin-bottom: $spacer;
}

/* -------------------------------------------------
   --- Gallery                                   ---
   ------------------------------------------------- */

   $gallery-margin-bottom   : 3rem;
   $gallery-margin          : 2rem;
   $gallery-hover-scale     : 1.15;
   $gallery-caption-fontsize: $font-size-sm;

   .gallery-wrapper {
       justify-content : center;
       margin-bottom   : $gallery-margin-bottom;
   }

   .gallery {
       display   : flex;
       flex-wrap : wrap;
       margin    : (-1 * $gallery-margin) (-1 * $gallery-margin);
   }

   .gallery-thumb {
       position   : relative;
       margin     : $gallery-margin;
       // box-shadow : 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
       box-shadow : 0.4rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
       overflow   : hidden;
   }

   .gallery-image {
       display    : block;
       width      : 100%;
       height     : auto;
       object-fit : cover;
       transition : transform 400ms ease-out;
   }

   .gallery-thumb a {
       color: white;
       text-decoration: none;
   }

   .gallery-thumb a:hover .gallery-image {
       transform: scale($gallery-hover-scale);
   }

   .gallery-thumb figcaption  {
       position   : absolute;
       bottom     : 0;
       left       : 0;
       right      : 0;
       transition : 0.5s ease;
       background-color: black;
       opacity    : 0;

       text-align : center;
       font-size  : $gallery-caption-fontsize;
       padding    : 0.5rem 0;
   }

   .gallery-thumb figcaption.center {
       padding: 45% 0;
       top: 0;
   }

   .gallery-thumb a:hover figcaption  {
       opacity: 0.55;
   }


/* -------------------------------------------------
   --- Page contact                              ---
   ------------------------------------------------- */

#contact-form {
    margin-bottom: 3 * $spacer;

    .form-control {
        margin-bottom: 1.5 * $spacer;
    }
}

/* -------------------------------------------------
   --- Search form                               ---
   ------------------------------------------------- */

#search-form {
    margin-bottom: 3 * $spacer;
}

.form-search {
    margin-bottom: 3 * $spacer;
}

/* -------------------------------------------------
   --- Footer                                    ---
   ------------------------------------------------- */

#page-footer {
    background-color: $dark;
    color: $light;

    h2, h3 {
        color: white;
    }

    a {
        color: white;
    }

}

.footer-top, .footer-main {
    padding-top: 2 * $spacer;
    // padding-bottom: $spacer;
}

.footer-main {
    background-color: $medium;
}

.footer-bottom {
    // text-align: center;
    padding-top: $spacer;
}

#page-footer .widget-page,
#page-footer .widget-series {

    ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
    }

    li {
        padding-top: 0.5 * $spacer;

        a {
            text-decoration: none;
        }

        &:after {
            content: " ";
            display: block;
            width: 80%;
            padding-top: 0.5 * $spacer;
            border-bottom: 1px solid tint-color($dark, 10%);
        }

        a:hover {
            text-decoration: underline;
        }
    }

    li:last-child:after {
        border-bottom: 0;
    }
}

.top {
    display: block;
    text-align: center;
    border-radius: 0.25rem;
    /* width: 40px;  */
    /* height: 40px; */

    &:hover {
        background-color: $medium;
    }
}

/* -------------------------------------------------
   --- Print                                     ---
   ------------------------------------------------- */

@media print {

    #page-header, #posts-comments, .breadcrumb,
    .page-bottomline-prev-next, .page-bottomline-yzgd-share, .page-bottomline-related,
    .footer-top, .footer-main {
        display: none;
    }

    * {
        color: #000;
        background-color: #fff;
    }

    body {
        font-size: 1rem !important;
        line-height: 1.5 !important;
    }

    a:after {
        content: "( "attr(href)" )"
    }
}

/* ------------------------------------------ */
/* --- Figures / Images --------------------- */
/* ------------------------------------------ */

.figure {
    margin-bottom: 3 * $spacer;
}

.figure-img {
    margin-bottom: $spacer * .5;
    line-height: 1;
}

.img-center,
.figure-center {
    display:block!important;
    text-align: center;
}

.figure-caption {
    margin-top: 0.25rem;
    font-style: italic;
    text-align: center;
}

/* ------------------------------------------ */
/* --- Tables ------------------------------- */
/* ------------------------------------------ */

.table {
    margin-bottom: 3 * $spacer;
}


/* ------------------------------------------ */
/* --- Blokcquote --------------------------- */
/* ------------------------------------------ */

blockquote {
    position: relative;
    border: 1px solid $celadon-blue; // $powder-blue;
    border-left: 15px solid $celadon-blue; // $powder-blue;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 2rem 3rem 2rem 5rem;
}

blockquote p {
    margin-bottom: 0;
}

blockquote p:before {
    display: inline-block;
    font-family: $bootstrap-icons-font !important;
    font-size: 2rem;
    line-height: 1;
    vertical-align: -.125em;

    position: absolute;
    left: 1rem;
    top: -1rem;
    content: "\f6b0";
    color: $celadon-blue; // $powder-blue;
    background-color: white;
}

blockquote.info {
    border-color: $celadon-blue; // $blue-300;
}

blockquote.info p:before {
    content: "\f431";
    color: $celadon-blue; // $blue-300;
}

blockquote.warning {
    border-color: orange;
}

blockquote.warning p:before {
    content: "\f335";
    color: orange;
}

blockquote.error {
    border-color: red;
}

blockquote.error p:before {
    content: "\f629";
    color: red;
}
